body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
}

#page-selector {
  display: flex;
}

.page-content {
  display: none;
}

#page-selector:has(#page-search:checked) ~ #page:has(#page-search-content),
#page-selector:has(#page-queue:checked)  ~ #page:has(#page-queue-content),
#page-selector:has(#page-player:checked) ~ #page:has(#page-player-content) {
  display: block;
}
