body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
}

.page-content {
  display: none;
}

#page-search:checked ~ #page-search-content,
#page-queue:checked  ~ #page-queue-content,
#page-player:checked ~ #page-player-content {
  display: block;
}
