body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #eee;
  background-color: #111;
}

#root {
  min-height: 100%;
  padding-bottom: 100px;
}

.page-content {
  display: none;
}

#page-selector > #page-search:checked ~ #page > #page-search-content,
#page-selector > #page-queue:checked  ~ #page > #page-queue-content,
#page-selector > #page-player:checked ~ #page > #page-player-content {
  display: block;
}

#player {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #111;
}

#player > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.video-card {
  width: 90%;
  height: 200px;
}

.video-card > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
